<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/index.css">
    <script src="js/vue.js"></script>
</head>
<body>
<h1>我收藏的文章</h1>
<div class="container">
    <div id="menu-wrapper">
        <h4>文章类别</h4>
        <a v-for="menuItem in menuList" @click="changeArtList(menuItem.type,$event)" href="javascript:void(null)">{{menuItem.name}}</a>
    </div>
    <div id="article-wrapper">
        <a v-for="articleItem in artList" data-url="{{articleItem.url}}" @click="openUrl(articleItem.url,$event)" href="javascript:void(null)">{{articleItem.name}}</a>
    </div>
</div>
<script src="js/data.js"></script>
<script src="js/index.js"></script>
</body>
</html>