body {
    margin: 0;
}
@media screen and (min-width: 415px) {
    .head {
        color: #353535;
        text-align: center;
        font-size: 18px;
        box-shadow: 0px 0px 4px 2px #cccccc;
        margin: 0;
        line-height: 2.6;
        position: relative;
        z-index: 3;
    }
    .search-wrap{
        position: absolute;
        right: 20px;
        top: 0;
        z-index: 4
    }
    .search-wrap input{
        border: 1px solid #cccccc;
        border-radius: 0;
        font-size: 14px;
        height: 28px;
        margin-top: 8px;
    }
    .category-wrap{
        float: left;
        width: 200px;
    }
    .content{
        float: left;
        width: calc(100% - 220px);
        margin: 20px 0;
    }

    .category-content ul{
        padding-left: 40px;
        margin-top: 20px;
    }
    .category-content li{
        list-style: none;
        color: #353535;
        font-size: 16px;
        line-height: 2.2;
    }
    .category-content li.active {
        color: #5ba15b;
    }
    .content a {
        display: block;
        margin: 10px;
        color: #5ba15b;
    }
}
@media screen and (max-width: 414px) {
    .head {
        color: #353535;
        text-align: center;
        font-size: 18px;
        box-shadow: 0px 0px 4px 2px #cccccc;
        margin: 0;
        line-height: 2.6;
        position: relative;
        z-index: 3;
    }
    .btn-category {
        height: 46px;
        float: left;
        width: 46px;
        margin-left: 10px;
        background-image: url(../img/category.png);
        background-size: auto 32px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .btn-search {
        height: 46px;
        float: right;
        width: 46px;
        margin-right: 10px;
        background-image: url(../img/search.png);
        background-size: auto 28px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .category-wrap {
        transform: translateX(-600px);
        transition: .8s transform;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 4;
        
    }
    .category-wrap.show {
        transform: translateX(0)
    }
    .category-content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0px 0px 4px 2px #cccccc;
        width: 200px;
        background-color: #FFFFFF;
    }
    .category-content ul {
        padding-left: 40px;
        margin-top: 40px;
    }
    .category-content li {
        color: #353535;
        font-size: 14px;
        list-style: none;
        line-height: 2.2;
    }
    .category-content li.active {
        color: #5ba15b
    }
    .content {
        position: absolute;
        top: 46px;
        left: 0;
        width: 100%;
        bottom: 0;
    }
    .content a {
        display: block;
        margin: 10px;
        color: #5ba15b;
    }

    .search-wrap{
        position: absolute;
        top: -90px;
        left: 0;
        width: 100%;
        height: 36px;
        transition: .4s transform;
        background-color: #fff;
        z-index: 2;
    }

    .search-wrap.show{
        transform: translateY(146px);
    }

    .search-wrap input{
        -webkit-appearance: none;  
        width: 100%;
        margin: 0;
        border: 1px solid #cccccc;
        outline: none;
        height: 36px;
        box-sizing: border-box;
        border-radius: 0;
    }
}