body {
    background-color: #fafafa;
}

div {
    box-sizing: border-box;
}

h1 {
    width: 1080px;
    margin: 0 auto;
    line-height: 80px;
}

.container {
    width: 1080px;
    margin: 0 auto 100px auto;
    display: -webkit-flex;
    display: flex;
    border: 1px solid #e5e5e5;
    height: 1000px;
    background-color: #ffffff;
}

#menu-wrapper {
    border-right: 1px solid #e5e5e5;
    padding: 0;
    width: 180px;
    height: 100%;
    overflow: auto;
}

#menu-wrapper h4 {
    color: #acacac;
    border-bottom: 1px solid #e5e5e5;
    font-size: 16px;
    height: 50px;
    line-height: 50px;
    text-indent: 18px;
}

#menu-wrapper a {
    display: block;
    font-size: 16px;
    color: #565656;
    margin: 0 18px;
    border-bottom: 1px dashed #e5e5e5;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
}

#menu-wrapper a:last-of-type {
    border-bottom: 0;
}

#menu-wrapper a.select {
    color: #f74a4a;
}

#menu-wrapper a:hover {
    color: #f74a4a;
}

#article-wrapper {
    height: 100%;
    overflow: auto;
    width: 900px;
}

#article-wrapper a {
    display: block;
    font-size: 14px;
    border-bottom: 1px dashed #e5e5e5;
    margin:0 20px;
    line-height: 3.2;
    text-decoration: none;
}

#article-wrapper a:last-of-type {
    border-bottom: 0;
}