body {
    background-color: #fafafa;
}

div {
    box-sizing: border-box;
}

h1 {
    max-width: 1080px;
    width: 90%;
    min-width: 650px;
    margin: 0 auto;
    line-height: 80px;
}

.container {
    max-width: 1080px;
    width: 90%;
    min-width: 650px;
    margin: 0 auto 100px auto;
    border: 1px solid #e5e5e5;
    height: 1000px;
    background-color: #ffffff;
    position: relative;
}

#menu-wrapper {
    border-right: 1px solid #e5e5e5;
    padding: 0;
    width: 180px;
    height: 100%;
    overflow: auto;
    position: absolute;
    left: 0;
    top: 0;
}

#menu-wrapper h4 {
    font-size: 18px;
    color: #2c3e50;
    border-bottom: 1px solid #e5e5e5;
    height: 50px;
    line-height: 50px;
    text-indent: 18px;
    margin: 0;
}

#menu-wrapper a {
    display: block;
    font-size: 16px;
    color: #565656;
    margin: 0 18px;
    border-bottom: 1px dashed #e5e5e5;
    line-height: 48px;
    cursor: pointer;
    text-decoration: none;
    color: #34495e;
}

#menu-wrapper a:last-of-type {
    border-bottom: 0;
}

#menu-wrapper a.select {
    color:#42b983;
}

#menu-wrapper a:hover {
    color:#42b983;
}

#article-wrapper {
    height: 100%;
    overflow: auto;
    position: absolute;
    left:180px;
    right: 0;
    top: 0;
}

#article-wrapper a {
    display: block;
    font-size: 15px;
    border-bottom: 1px dashed #e5e5e5;
    margin: 0 20px;
    line-height: 3.2;
    text-decoration: none;
    color: #34495e;
}

#article-wrapper a:hover {
    text-decoration: underline;
    color:#42b983;
}

#article-wrapper a:last-of-type {
    border-bottom: 0;
}