body {
    margin: 0;
}

@media screen and (max-width: 414px) {
    .head {
        color: #353535;
        text-align: center;
        font-size: 18px;
        box-shadow: 0px 0px 4px 2px #cccccc;
        margin: 0;
        line-height: 3;
        position: relative;
        z-index: 3;
    }
    .btn-category {
        height: 54px;
        float: left;
        width: 54px;
        margin-left: 10px;
        background-image: url(../img/category.png);
        background-size: auto 32px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .btn-search {
        height: 54px;
        float: right;
        width: 54px;
        margin-right: 10px;
        background-image: url(../img/search.png);
        background-size: auto 28px;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .category-wrap {
        transform: translateX(-600px);
        transition: .8s transform;
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
        
    }
    .category-wrap.show {
        transform: translateX(0)
    }
    .category-content {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        box-shadow: 0px 0px 4px 2px #cccccc;
        width: 200px;
        background-color: #FFFFFF;
    }
    .category-content ul {
        padding-left: 40px;
        margin-top: 40px;
    }
    .category-content li {
        color: #353535;
        font-size: 14px;
        list-style: none;
        line-height: 2.2;
    }
    .category-content li.active {
        color: #5ba15b
    }
    .content {
        position: absolute;
        top: 54px;
        left: 0;
        width: 100%;
        bottom: 0;
    }
    .content a {
        display: block;
        margin: 10px;
        color: #5ba15b;
    }

    .search-wrap{
        position: absolute;
        top: -50px;
        left: 0;
        width: 100%;
        height: 36px;
        transition: .4s transform;
        background-color: #fff;
        z-index: 2;
    }

    .search-wrap.show{
        transform: translateY(106px);
    }

    .search-wrap input{
        width: 100%;
        margin: 0;
        border: 1px solid #cccccc;
        outline: none;
        height: 36px;
        box-sizing: border-box;
    }
}